<header class="navbar navbar-default navbar-fixed-top" id="header">
    <div class="container">
        <div class="navbar-header">
            <a href="/{{.I18n.LangLink `/index.html`}}" class="navbar-brand">PuGo</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">{{range .Nav}}
                <li class="{{if eq .Hover $.Hover}}active{{end}}">
                    {{if eq .Hover "news"}}
                    <a href="{{FullURL .Link}}" {{if .IsBlank}} target="_blank" {{end}}>{{if .Icon}}
                            <i class="{{.Icon}}"></i>{{end}}{{.TrTitle $.I18n}}
                        </a> {{else}}
                    <a href="{{.TrLink $.I18n | FullURL}}" {{if .IsBlank}} target="_blank" {{end}}>{{if .Icon}}
                            <i class="{{.Icon}}"></i>{{end}}{{.TrTitle $.I18n}}
                        </a> {{end}}
                </li>{{end}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="lang">
                        <i class="icon-globe"></i>{{.I18nItem.Name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" data-slug="{{.Slug}}">{{range .I18nList}}
                        <li><a href="#">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>