{{template "embed/meta.html" .}} 
{{template "embed/header.html" .}}
<section id="main">
    <div class="container">
        <div id="slogan">
            <h1>
                <strong>PuGo 1.0</strong>
                <sup>2017-04-01</sup>
            </h1>
            <p>Fast and Powerful Site Generator</p>
            <div id="download">
                <a href="/en/download.html"><button class="btn btn-primary"><i class="icon-download"></i>Download</button></a>
                <a href="/en/guide.html">
                    <button class="btn btn-info">Quick Start</button>
                </a>
            </div>
        </div>
        <div id="feature">
            <div class="row">
                <div class="col-md-4 item">
                    <i class="icon-docs"></i>
                    <h4>Easy to use</h4>
                    <p>Manage directory as contents</p>
                </div>
                <div class="col-md-4 item">
                    <i class="icon-paper-plane"></i>
                    <h4>Fast Compile</h4>
                    <p>Thousand pages in one second</p>
                </div>
                <div class="col-md-4 item">
                    <i class="icon-cubes"></i>
                    <h4>No Dependencies</h4>
                    <p>Only one executable file</p>
                </div>
                <div class="col-md-4 item">
                    <i class="icon-book-open"></i>
                    <h4>Support Markdown</h4>
                    <p>Markdown is easy to learn and use</p>
                </div>
                <div class="col-md-4 item">
                    <i class="icon-leaf"></i>
                    <h4>Custom Theme</h4>
                    <p>Build own nice templates</p>
                </div>
                <div class="col-md-4 item">
                    <i class="icon-github-circled-alt2"></i>
                    <h4>Open Source</h4>
                    <p>Host on Github<br/>. Modify by yourself</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{template "embed/footer.html" .}}